<%= javascript_include_tag 'store/preventive/spiral' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
    paper_products_selected = <%== @product.get_selected_values_json %>;
    paper_cover_selected = <%== @product.get_cover_selected_values_json %>;
	max_back = <%== @product.max_back %>;
    <% if @product.spiral_variants.length > 3 %>
        jQuery(document).ready(function() {
        	jQuery('#variant_carousel').jcarousel();
        });
    <% end %>
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_spiral'}} do |f| %>
    <%= hidden_field_tag(:spiral_product_id, @product.id) %>
	
    <h2>Formato</h2>
    <div class="format-check">
      <ul id="variant_carousel" class="clearfix">
        <% @product.spiral_variants.each do |v| %>
            <li class="clearfix block f85x25">
              <div class="clearfix">
                  <div class="box"><%= v.template_format.present? ? image_tag(v.template_format.attachment.url(:normal)) : "" %></div>
                <%= radio_button_tag "order[format]", v.id, nil, {:class => 'radio', :id => "radio_format_#{v.id}",
                                                                  :data => {:custom => v.format, :cover => v.cover_variant.id}} %>
                <label for="radio_format_<%= v.id %>"><%= v.format %></label>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
	
    <h2>Informazioni</h2>
    <div class="clearfix field_content">
      <%#= label_tag "order[number_of_facades]", t(:number_of_facades_with_cover) %>
      <label name="order[number_of_facades]">Facciate totali <span style='font-size:11px'>compresa copertina</span></label>
      <%= text_field_tag "order[number_of_facades]", nil, :class => 'required multiplesOfEight', :min => 8, :value => 8, :id => 'number_of_facades' %>
    </div>
	
    <h2>Materiale Interno</h2>
    <div class="clearfix field_content">
      <label for="paper">Carta</label>
      <select id="paper" name="order[paper]"></select>
    </div>
	
    <div class="clearfix field_content">
      <label for="weight">Grammatura</label>
      <select id="weight" name="order[weight]"></select>
    </div>
	
	<div class="clearfix field_content">
      <label for="print_color">Tipo stampa</label>
      <%= select("order", "print_color", [["Bianco e nero", "false"], ["Colori", "true"]], {:include_blank => false}) %>
    </div>
	
	<div class="clearfix field_content">
		<label for="instructions">Indicazioni di stampa</label>
		<%= select("order", "instructions", [["Solo fronte","front"], ["Fronte e retro differenti","different_front_back"]], {:include_blank => false}) %>
	</div>
	
	<h2>Materiale Copertina</h2>
    <div class="clearfix field_content">
      <%= label_tag "paper_cover", t(:cover) %>
      <%= select_tag "order[paper_cover]", options_for_select([["Nessuna", -2],["Stessa grammatura dell'interno", -1]]), :id => :paper_cover %>
    </div>
	
    <div class="clearfix field_content paper_cover_weight">
      <%= label_tag "order[paper_cover_weight]", t(:paper_cover_weight) %>
      <select id="paper_cover_weight" name="order[paper_cover_weight]" class="required"></select>
    </div>
	
	<div class="clearfix field_content default_cover" style="dispaly: none;">
      <%= label_tag "default_cover", t(:default_cover) %>
      <%= select_tag "order[default_cover]", options_for_select([["Nessuna", 0],["Film e cartoncino", 1]]), :id => :default_cover %>
    </div>
	
	<div class="clearfix field_content">
      <%= label_tag "order[cover_bw]", t(:cover_bw) %>
      <%= select_tag "order[cover_bw]", options_for_select([["Bianco e nero", "false"], ["Colori", "true"]]) %>
    </div>
	
	<h2>Finitura</h2>	
	<div class="clearfix field_content">
      <%= label_tag("spiraling", t(:spiralings)) %>
	  <%= select_tag("order[spiraling]", options_for_select(Spree::SpiralingQuantity.all.collect { |sq| [sq.color, sq.id] })) %>
    </div>
	
	<% if false %>
    <div class="clearfix field_content">
      <label for="plasticization">Plastificazione</label>
      <%= select_tag("order[plasticization_option]", options_for_select(Spree::Plasticization.plasticization_cover.collect { |ps| [ps, ps] })) %>
    </div>
	
    <div class="clearfix field_content">
      <%= label_tag "order[plasticization]", t(:plasticization_finish) %>
      <%= select_tag("order[plasticization]", options_for_select(Spree::Plasticization.plasticization_types.collect { |ps| [ps, ps] })) %>
    </div>
	<% end %>
	
    <div class="clearfix field_content">
      <%= label_tag "", "Dorso" %>
      <p id="dorso"> 0 mm </p>
    </div>

    <h2>Copie</h2>
    <div class="clearfix field_content">
      <label for="order[number_of_copy]">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
		<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
		<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
    </div>

<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}€)"%></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>
	
    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>

<% end %>