<% if @error %>
	$('#preventive-content').append("<div class='ab-error'>Siamo spiacenti ma e` stato riscontrato un errore durante il calcolo del preventivo! Riprova piu` tardi o contatta il venditore</div>");
	ajaxLoading = false;
	if($.active == 0) {
		$('.loader-box').hide();
	}
<% else %>
	<% if @promo %>
	
	$('.ab-error').remove();
	$('#preventive-div > h2').html("<span>Promozione</span>");
	$('#preventive-content').hide();
	
	var price_sidebar = parseFloat("<%= @price %>") + parseFloat("<%= @total_filecheck %>");
	var iva_sidebar = calculateVat(price_sidebar);
	var total = parseFloat("<%= @total %>");
	$('#file_check-promo').html("<%= escape_javascript number_to_currency(@total_filecheck) %>");
	$('#total-original').css("text-decoration", "line-through").html("Invece di: <%= escape_javascript number_to_currency(@promotion.original_price) %>");
	$('#total-imposted').html("<%= escape_javascript number_to_currency(@promotion.price.to_f) %>");
	$('#total-discount').html("<%= escape_javascript number_to_currency((@promotion.original_total.to_f - @total.to_f).to_s) %>");
	$('#total-promoiva').html(iva_sidebar.toFixed(2) + " €");	
	$('#total-promo').html((total + iva_sidebar).toFixed(2) + " €");
	if($.active == 0) {
		$('.loader-box').hide();
	}
	if(total > 0) {
		$("#add-to-cart-button, #add_to_cart_js").css("display", "block");
	}

	ajaxLoading = false;
	$('#promo').show();
	
	$('.date-select tbody tr td.percent').each(function () {
	    var percent = $(this).data('percent');
	    var amount = calculatePercent(percent, "<%= @promotion.original_price %>");
	    var newPrice = (parseFloat("<%= @promotion.original_price %>") - amount);
	    var newPriceWithVat = newPrice + calculateVat(newPrice);
	    $(this).text(newPrice.toFixed(2)+" €");
	    $(this).siblings('.amount').first().text(newPriceWithVat.toFixed(2) + " €");
	    if (amount > 0) {
	        $(this).siblings('.discount').first().text(Spree.translations.discount+" " + amount.toFixed(2) + " €");
	    }
	});
	
	<% else %>
	$('[id*="promotion_id_"]').each(function() {
		if ($(this).is(":checked")) {
			$('input[name="order_calculator[data]"]').first().click();
		}
	})
		
	$('.ab-error').remove();
	$('#preventive-div > h2').html("<span>Preventivo</span>");
	$('#promo').hide();
	$('#preventive-content').show();

	ajaxLoading = false;
	$('#total-no-iva').html("<%= escape_javascript number_to_currency(@total) %>");
	<% if @number_of_copy %>
	
	$('#price-for-element').html("<%=
	                                  if @total/@number_of_copy > 0.009
	                                    number_to_currency(@total/@number_of_copy)
	                                  else
	                                      "> " + number_to_currency(0.01)
	                                  end
	                                   %>");
	<% else %>
	
	$('#price-for-element').prev().hide();
	$('#price-for-element').hide();
	
	<% end %>
	
	var price_sidebar = parseFloat("<%= @total %>") + parseFloat("<%= @total_filecheck %>");
	var iva_sidebar = price_sidebar + calculateVat(price_sidebar);
	$('#iva').html(calculateVat(price_sidebar).toFixed(2)+" €");
	$('#file_check').html("<%= escape_javascript number_to_currency(@total_filecheck) %>");
	$('#preventive-total').html(iva_sidebar.toFixed(2)+" €");
	if($.active == 0) {
		$('.loader-box').hide();
	}
	if(price_sidebar > 0) {
		$("#add-to-cart-button, #add_to_cart_js").css("display", "block");
	}

	$('.date-select tbody tr td.percent').each(function () {
	    var percent = $(this).data('percent');
	    var amount = calculatePercent(percent, "<%= @price %>");
	    var newPrice = (parseFloat("<%= @total_whitout_date %>") - amount);
	    var newPriceWithVat = newPrice + calculateVat(newPrice);
	    $(this).text(newPrice.toFixed(2)+" €");
	    $(this).siblings('.amount').first().text(newPriceWithVat.toFixed(2) + " €");
	    if (amount > 0) {
	        $(this).siblings('.discount').first().text(Spree.translations.discount + " " + amount.toFixed(2) + " €");
	    }
	});

	<% end %>
<% end %>

<% if @variant %>
<% if @variant.template.present? %>
	document.getElementById('download_template').style.display = "block";
	$('#download_template').attr("href", '<%= escape_javascript("#{download_template_path(@variant)}") if !@variant.blank? %>');
<% else %>
  	<% if (@variant.class == Spree::Variant) || (@variant.class == Spree::FlayerVariant) || (@variant.class == Spree::StapleVariant) || (@variant.class == Spree::PaperbackVariant) || (@variant.class == Spree::PosterFlyerVariant) || (@variant.class == Spree::FoldingVariant) || (@variant.class == Spree::PostcardVariant) || (@variant.class == Spree::LetterheadVariant) || (@variant.class == Spree::PlaybillVariant) || (@variant.class == Spree::StickerVariant) %>
    	<% if @variant.product.template.present? %>
      		document.getElementById('download_template').style.display = "block";
			$('#download_template').attr("href", '<%= escape_javascript("#{download_template_path(@variant)}") if !@variant.blank? %>');
    	<% end %>
	<% end %>
<% end %>
<% end %>

if($('#dorso').is("*")) {
	calculateDorso();
}

// Calcola lo spessore del dorso.
function calculateDorso() {
	var number_of_facetes = parseInt($('input[name="order[number_of_facades]"]').val());
	var paper = $('select[name="order[paper]"] option:selected').text();
	var weight = parseInt($('select[name="order[weight]"] option:selected').text());
	var percent = 0.07;
	if(paper.toLowerCase() == 'usomano') {
		percent = 0.09;
	}

	// Per lo spessore carta so che 150gr = 125
	var spC = ((0.125 * weight) / 150);
	var tmp = (number_of_facetes / 2) * spC;
	tmp = tmp + (tmp * percent);
	var edge = Math.ceil(tmp.toFixed(2));
	$('#dorso').html(edge + " mm");
}

function calculatePercent(percent, price) {
	return parseFloat(percent) * parseFloat(price) / parseFloat(100);
}

function calculateVat(price) {
	return (parseFloat(price) * 22 ) / parseFloat(100);
}
