/* Variable for theme */
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);

$font-family-primary: "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-family-secondary: "Helvetica Neue", Arial, Helvetica, sans-serif;

$body-min-width: 960px;
$header-holder: 960px;
$footer-frame-width: 960px;
$footer-block-width: 960px;

$padding-header-holder: 26px 0px 74px;
$header-height: 64px;

$header-bg: #FFF url(all-color-bg.png) no-repeat 50% bottom;
$body-bg: #020b4e;
$footer-bg: #e5e5e5;
$footer-color: #6a6969;
$footer-color-h3: #dc0279;
$color-a: #00f;
$blue-btn: #00ADEE;
$format-label-color: #313131;

$black: #000;
$white-black: #333;
$white: #fff;
$grey: #5B554F;
$semi-dark-grey: #a2a2a2;
$blue: #239fdf;
$green: #0dd688;
$red: #f50f4b;
$yellow: #F0D708;
$dark-grey: #313131;

