.jcarousel-container .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.jcarousel-container .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-container .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}

.jcarousel-container .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-container .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-container .jcarousel-clip-horizontal {
    width:  415px;
    height: 145px;
}

.jcarousel-container .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-container .jcarousel-item {
    width: 120px;
    height: 135px;
}

.jcarousel-container .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-container .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-container .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(right-arrow.png) no-repeat 0 0;
}

.jcarousel-container .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(left-arrow.png);
}

/*
.jcarousel-container .jcarousel-next-horizontal:hover,
.jcarousel-container .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-container .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}*/

.jcarousel-container .jcarousel-next-disabled-horizontal,
.jcarousel-container .jcarousel-next-disabled-horizontal:hover,
.jcarousel-container .jcarousel-next-disabled-horizontal:focus,
.jcarousel-container .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-container .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(left-arrow.png) no-repeat 0 0;
}

.jcarousel-container .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(right-arrow.png);
}

/*.jcarousel-container .jcarousel-prev-horizontal:hover, 
.jcarousel-container .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-container .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}*/

.jcarousel-container .jcarousel-prev-disabled-horizontal,
.jcarousel-container .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-container .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-container .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}
