a.button {
    background-color: #06AFF8;
    background-image: none;
    text-shadow: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    padding: 5px;
}

a.button.dark {
    background-color: #313131;
}

a.button:hover {
    text-decoration: none;
    background-color: #06AFF8;
    border: none;
}

p[data-hook="links"] a.button {
    float: right;
    margin-right: 10px;
}

p[data-hook="links"] {
    clear: both;
    height: 30px;
    margin-bottom: 20px;
}

.button-create-address {
    clear: both;
    margin-top: 10px;
}

#multicurrency {
	position: absolute;
	right: 240px;
	top: 10px;
}

.form-buttons { margin: 20px 20px 0px; }

a.uploadfile {
	float: right;
	color: #CACACA;
	margin-top: -18px;
	margin-right: 20px;
}
.black-header > a:hover {
	color: #FFF;
	text-decoration: none;
}
.uploadfile i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 1px;
	line-height: 20px;
	vertical-align: text-top;
	background: url(/assets/admin/icons/clip.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.select-size {
	min-width: 160px;
	padding: 4px 0;
	margin: 1px 0 0;
	list-style: none;
}
.select-size li {
	line-height: 20px;
	position: relative;
}
.select-size li > img {
	position: absolute;
	top: 7px;
	left: 200px;
}
.select-size a {
	text-align: left;
	display: block;
	padding: 10px 15px 10px 35px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #555;
	white-space: nowrap;
	border: 1px solid #efefef;
	margin-top: 8px;
	background: #efefef url(arrow-right.png) no-repeat -2px 10px;
}
.select-size a:hover, .select-size li > a:hover, .select-size .active > a, .select-size .active > a:hover {
	color: #FFF !important;
	text-decoration: none;
	background-color: #00adee;
}
.control-group {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 6px;
}
.control-group::before, .control-group::after {
	display: table;
	content: "";
}
.control-label {
	float: left;
	width: 140px;
	padding-top: 5px;
	text-align: right;
	color: #000;
	line-height: 18px;
	display: block;
	margin-bottom: 5px;
}
.controls {
	margin-left: 160px;
	position: relative;
}
.controls input, textarea, select {
	color: #3B3632;
	font-size: 12px;
	height: 28px;
}
.help-block {
	margin-top: 9px;
	margin-bottom: 0;
	font-size: 11px;
}


#download_template {
	background: url("bg-btn-alt.png") no-repeat scroll 0 0 transparent;
    color: #716D6D;
    display: block;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 23px;
    margin: 0 auto;
    padding: 10px 30px 10px 20px;
    text-align: left;
    height: 24px;
    width: 152px;
}

.cart-box img {
	max-width: none !important;
	padding-right: 10px !important;
}

.cart-box > strong {
	width: auto !important;
	padding: 3px 0 0 10px !important;
}

#folding_carousel .box{
	border-style: none;
}

.social-networks li a span.symbol {
	font-size: 40px;
	vertical-align: middle;
	margin-right: 10px;
}
.social-networks li a.fb, .social-networks li a.fb:hover {
	color: #3b5998 !important;
}
.social-networks li a.tw, .social-networks li a.tw:hover {
	color: #00aced !important;
}
.social-networks li a.gp, .social-networks li a.gp:hover {
	color: #dd4b39 !important;
}
.social-networks li a.ln, .social-networks li a.ln:hover {
	color: #007bb6 !important;
}
.social-networks li a.in, .social-networks li a.in:hover {
	color: #517fa4 !important;
}

.buy-form label.error {
	position: absolute;
	width: 200px !important;
	right: -220px;
	z-index: 99;
	top: -15px;
}
.buy-form label.error .error-inner {
	background: #FFF;
	border: 1px solid red;
	border-radius: 10px;
	padding: 5px;
}