div[data-hook="account_summary"] .black-header,
.edit_user .black-header{
    margin-top:  0;
}

#user-info {
margin-bottom: 0;
border: none;
padding: 10px;
}

.border{
    background-color: white;


}
.edit_user #billing,
.edit_user #shipping,
.edit_user #shipping_method,
.edit_user #payment,
.edit_user #order_details,
.edit_user #order_summary{
    margin-top: 0;
    padding: 0;
    border: none;
}

.edit_user{
    background-color: #ffffff;
}

.edit_user input,
.edit_user select{
    width: 335px;
}

.edit_user #bcountry,
.edit_user #scountry{
    margin-right: 2px;
}

.edit_user #bstate,
.edit_user #sstate{
    /*display: block;*/
    /*float: none;*/
    float: right;
    margin-right: 4px;
}

.edit_user .credentials{
    padding: 10px;
}

.edit_user input[type="submit"]{
    float: none;
    margin-left: 485px;
}

.edit_user  label.error {
    margin-left: -333px;
}

.order-summary th, .order-summary td {
	color: #313131;
}