.custom-size input {
    width: 100px;
	float: none;
	clear: none;
}

.custom-size div {
    float: right;
}

.custom-size label {
    margin-right: 10px;
}

#order_number_of_copy {
    float: right;
}

.buy-form img {
    margin-bottom: 16px;
}

.img-content {
    height: 80px;
}
