#add_staple label.error {
    position: absolute;
    z-index: 21;
    margin: 0;
    right: -233px;
    width: 212px;
    border: solid thin;
    background-color: white;
    top: -5px;

    background-color: white;
    border: 1px solid #E45353;
    border: 1px solid rgba(228, 83, 83, 1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#add_staple input[type="text"] {
    float: right;
    width: 250px;
}

#add_staple .error {
    border-color: #E45353;
}

.field_content {
    position: relative;
}

label.error div.error-arrow:after {
	position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
label.error div.error-arrow:after {
	z-index: -1;
	content: "";
}
label.error div.error-arrow {
	position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
	
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-right-color: #E45353;
    border-width: 5px 10px 5px 0;
}

div.error-content {
	padding: 5px;
}
