@font-face {
  font-family: 'printtogo';
  src: url('/assets/store/font/printtogo.eot');
  src: url('/assets/store/font/printtogo.eot#iefix') format('embedded-opentype'),
       url('/assets/store/font/printtogo.woff') format('woff'),
       url('/assets/store/font/printtogo.ttf') format('truetype'),
       url('/assets/store/font/printtogo.svg#printtogo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'printtogo';
    src: url('../font/printtogo.svg?51612330#printtogo') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "printtogo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 1.3em;
  
  vertical-align: text-top;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e80e'; } /* '' */
.icon-home-1:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e81c'; } /* '' */
.icon-attention:before { content: '\e821'; } /* '' */
.icon-help-circled:before { content: '\e822'; } /* '' */
.icon-info-circled:before { content: '\e823'; } /* '' */
.icon-print:before { content: '\e811'; } /* '' */
.icon-comment:before { content: '\e812'; } /* '' */
.icon-address:before { content: '\e816'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-map:before { content: '\e826'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-login:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-tint:before { content: '\e81d'; } /* '' */
.icon-paper-plane:before { content: '\e817'; } /* '' */
.icon-th-thumb:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-check-empty:before { content: '\e81b'; } /* '' */
.icon-pinterest-squared:before { content: '\e806'; } /* '' */
.icon-gplus-squared:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e81f'; } /* '' */
.icon-shield:before { content: '\e819'; } /* '' */
.icon-rss-squared:before { content: '\e809'; } /* '' */
.icon-youtube-squared:before { content: '\e800'; } /* '' */
.icon-tumblr-squared:before { content: '\e804'; } /* '' */
.icon-skype:before { content: '\e805'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e81a'; } /* '' */
.icon-lamp:before { content: '\e820'; } /* '' */
.icon-floppy:before { content: '\e81e'; } /* '' */
.icon-doc-text:before { content: '\e825'; } /* '' */
.icon-book:before { content: '\e827'; } /* '' */
.icon-book-open:before { content: '\e824'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-lock-open:before { content: '\e815'; } /* '' */
.icon-truck:before { content: '\e818'; } /* '' */