<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?1fzAwgb3FjhmtgcuFhy9SoD34F7lYSNs';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

<div id="footer" class="clearfix">
	<div class="footer-header">
		<div class="section">
			<strong class="phone">Per info o assistenza contattaci al numero <span><%= Spree::Config[:store_phone_number] %></span></strong>
			<ul class="cards">
				<li>paypal</li>
				<li class="visa">visa</li>
				<li class="mastercard">mastercard</li>
				<li class="google">google checkout</li>
			</ul>
		</div>
	</div>
	<div class="footer-holder">
		<%= render :partial => "spree/shared/newsletter" %>
		<div class="footer-frame">
			<div class="column about">
				<h3><i class="icon-users"></i> chi siamo</h3>
				<p><%= Spree::Config[:store_description] %></p>
			</div>
			<div class="column place">
				<h3><i class="icon-location"></i> dove siamo</h3>
				<div class="placeholder">
					<iframe width="415" height="199" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= Spree::Config[:store_location].html_safe %>"></iframe>
				</div>
				<address><%= Spree::Config[:store_address] %></address>
			</div>
			<div class="column contact">
				<h3><i class="icon-paper-plane"></i> contatti</h3>
				<dl class="contact">
					<dt>Tel </dt>
					<dd><%= Spree::Config[:store_phone_number] %></dd>
					<dt>Fax </dt>
					<dd><%= Spree::Config[:store_fax_number] %></dd>
					<dt>e-mail : </dt>
					<dd><a href="mailto:<%= Spree::Config[:store_default_email] %>"><%= Spree::Config[:store_default_email] %></a></dd>
				</dl>
				<% if !Spree::Config[:store_skype].blank? %>
					<a href="<%= Spree::Config[:store_skype] %>" class="skype"><%= Spree::Config[:store_name] %></a>
				<%end%>
				<h3 class="social"><i class="icon-comment"></i> social network</h3>
				<ul class="social-networks">
					<li><a class="fb" target="_blank" href="<%= Spree::Config[:store_facebook_uri] %>" title="Facbook"><span class='symbol'>circlefacebook</span></a></li>
					<li><a class="tw" target="_blank" href="<%= Spree::Config[:store_twitter_uri] %>" title="Twitter"><span class='symbol'>circletwitterbird</span></a></li>
					<li><a class="gp" target="_blank" href="<%= Spree::Config[:store_google_plus_uri] %>" title="Google Plus"><span class='symbol'>circlegoogleplus</span></a></li>
					<li><a class="ln" target="_blank" href="<%= Spree::Config[:store_linkedin_uri] %>" title="Linkedin"><span class='symbol'>circlelinkedin</span></a></li>
					<li><a class="in" target="_blank" href="https://instagram.com/gsprintingroup/" title="Instagram"><span class='symbol'>circleinstagram</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bg">
		<div class="footer-block">
			<p class="medium-footer"><%= Spree::Config[:store_welcome_title] %> <a href="//www.iubenda.com/privacy-policy/807304" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
			<div class="logo"><a href="/"><%= image_tag("store/logo.png", :height => 37)%></a></div>
		</div>
	</div>
</div>
